<ion-grid *ngIf="!started">
    <ion-row>
        <ion-col>
        <div text-center>
            <h1>{{progress}}. ellenőrzőpont</h1>
        </div>
        </ion-col>
    </ion-row> 
    <ion-row>
        <ion-col>
        <div text-center>
            <h2>Helye: {{checkpoint.check.check.place.hungarianName}}</h2>
        </div>
        
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
        <div text-center>
            <h2>Neve: {{checkpoint.check.check.name}}</h2>
        </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div text-center>
               <img [src]="apiUrl+checkpoint.check.check.photoPath"/>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-spinner *ngIf="loading"></ion-spinner>
            <ion-button *ngIf="!loading" color="primary" expand="full" (click)="startCheckpoint()">Ellenőrzés megkezdése</ion-button>
            <ion-button *ngIf="!loading" color="warning" expand="full">Kihagyás</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid *ngIf="started && choice == null">
    <ion-row>
        <ion-col>
            <div text-center>
               {{checkpoint.check.check.name}}
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div text-center>
                <h1>{{currentCriteria.checkAttribute.checkAttribute.name}}</h1>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div text-center>
                <img  *ngFor="let photo of currentCriteria.checkAttribute.checkAttribute.photos" [src]="apiUrl+photo.path"/>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div text-center>
                {{currentCriteria.checkAttribute.checkAttribute.description}}
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button color="success" expand="full" (click)="ok()">IGEN</ion-button>
            <ion-button color="danger" expand="full" (click)="nok()">NEM</ion-button>
            <ion-button color="warning" expand="full" (click)="skip()">Kihagyás</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>

<ng-container *ngIf="choice != null">
    <ion-grid>
        <ion-row *ngIf="choice == -1">
            <ion-col>
                Intézkedések
            </ion-col>
        </ion-row>
        <ion-row *ngIf="choice == -1">
            <ion-col>
                <ion-item *ngFor="let action of actions">
                    <ion-label>{{ action.name }}</ion-label>
                    <ion-checkbox color="dark" [(ngModel)]="action.checked"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
            
        <ion-row *ngIf="choice != 1"> 
            <ion-col>
                <ion-textarea placeholder="Leírás" [(ngModel)]="description"></ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="choice != 0">
            <ion-col>
                <ion-button color="primary" (click)="takePicture()">
                        <ion-icon slot="start" name="camera"></ion-icon>Kép feltöltése
                </ion-button> 
            </ion-col>
        </ion-row>
        <ion-row *ngIf="choice != 0">
            <ion-col size="4" *ngFor="let image of images; let i = index">
                <img style="width:100%;"  [src]="domSanitizer.bypassSecurityTrustUrl(image)" />
                <ion-button color="danger" expand="block" (click)="removeImage(i)">
                        <ion-icon name="close"></ion-icon>
                </ion-button> 
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-spinner *ngIf="loading"></ion-spinner>
                <ion-button *ngIf="!loading" color="primary" expand="full" (click)="sendChoice()" [disabled]="!sendResultValid()">Elküld</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ng-container>
