<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{headerText}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button href="/login">
                <ion-icon slot="icon-only" name="exit" ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>