<ion-grid>
    <ion-row>
        <ion-col>
            <ion-input type="text" placeholder="Kritérium neve" [(ngModel)]="criteria.name"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-input type="text" placeholder="Kritérium leírása" [(ngModel)]="criteria.description"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button color="primary" (click)="takePicture()">
                <ion-icon slot="start" name="camera"></ion-icon>Kép feltöltése
            </ion-button> 
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4" *ngFor="let image of criteria.photos; let i = index">
            <img style="width:100%;"  [src]="domSanitizer.bypassSecurityTrustUrl(image)" />
            <ion-button color="danger" expand="block" (click)="removeImage(i)">
                    <ion-icon name="close"></ion-icon>
            </ion-button> 
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item>
                <ion-label>Kép készítése kötelező</ion-label>
                <ion-checkbox color="dark" [(ngModel)]="criteria.photoMandatory"></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let formAction of criteria.actionIdList; let i = index">
        <ion-select [(ngModel)]="criteria.actionIdList[i]">
            <ion-select-option *ngFor="let action of actions" value="{{action.id}}">{{ action.name }}</ion-select-option>
        </ion-select>
    </ion-row>
    <ion-row>
        <ion-button color="success" (click)="addAction()">Intézkedés hozzáadása</ion-button>
    </ion-row>
</ion-grid>
<ion-button color="success" expand="full" (click)="save()" [disabled]="criteria.actionIdList.length == 0">Mentés</ion-button>
