<ion-content>
    <ion-content class="login-content" padding>
      <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col width-67>
          <img src="assets/logo/esas.png" style="width:320px;"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <div class="login-box">
          <ion-row>
            <ion-col>
              <ion-list inset>
                <ion-item>
                  <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="loginCredentials.email" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="loginCredentials.password" required></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="signup-col">
              <ion-button size="large" type="button" (click)="login()">Login</ion-button>
            </ion-col>
          </ion-row>
      </div>
    </ion-content>
</ion-content>
