<app-header [headerText]="'Bejárás'"></app-header>
<ion-button color="primary" expand="full" *ngIf="!customPerception" (click)="customPerception = true; images = [];">Észrevétel felvétele</ion-button>
<ion-button color="primary" *ngIf="customPerception" (click)="customPerception = false">Vissza</ion-button>

<ion-content *ngIf="!inProgress && !finished && !customPerception && !skip">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-center>
            <h1>{{currentPatrol.name}}</h1>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <div text-center>
          <h2>{{currentPatrol.instances[0].date}}</h2>
        </div>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div text-center>
            {{currentPatrol.owner}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-spinner *ngIf="loading"></ion-spinner>
          <ion-button *ngIf="!loading" expand="full" (click)="startPatrol()">Bejárás megkezdése</ion-button>
          <ion-button *ngIf="!loading" color = "warning" expand="full" (click)="skip = true;">Bejárás elmarad</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="inProgress && !customPerception && !skip && !finished">
  <app-patrol-guard-checkpoint [checkpoint]="currentCheckpoint" [progress]="progress" (startedCheckpoint)="onCheckpointStarted($event)" (finishedCheckpoint)="onFinished($event)"></app-patrol-guard-checkpoint>
</ion-content>

<ion-content *ngIf="finished && !customPerception && !skip">
    <ion-grid>
      <ion-row>
          <ion-col>
            <div text-center>
                <h1>A bejárás befejeződött.</h1>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="skip">
    <ion-grid>
        <ion-row> 
            <ion-col>
                <ion-textarea placeholder="Indoklás"></ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="full" (click)="skip = false;">Elküld</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="customPerception && !skip">
  <app-patrol-custom-perception></app-patrol-custom-perception>
  <ion-button color="primary" *ngIf="customPerception" (click)="customPerception = false; images = [];">Elküld</ion-button>
</ion-content>