<app-header [headerText]="'Ellenőrzőpont szerkesztése'"></app-header>

<ng-container *ngIf="!edit && !new">
    <ion-content>
        <ion-list lines="none">
            <ion-list-header>
                <ion-label>Ellenőrzőpontok</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let check of checks">
                <ion-label slot="start">{{check.name}}</ion-label>
                <ion-label>{{check.place.hungarianName}}</ion-label>
                <ion-button (click)="editCheck(check)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" (click)="deleteCheck(check)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
        <ion-button color="primary" expand="full" (click)="createCheck()">Új pont felvétele</ion-button>
    </ion-content>

    
</ng-container>

<ion-content *ngIf = "new || edit">
    <app-patrol-admin-check-form [checkpoint]="selectedCheckpoint" [new]="new" (finishedEdit)="onFinished($event)"></app-patrol-admin-check-form>
</ion-content>