<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Vendége érkezett!</ion-card-subtitle>
    <ion-card-title>{{name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
        <ion-item class="activated">
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>{{from}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label>{{businessReason}}</ion-label>
        </ion-item>
        <div *ngFor="let visitor of visitors">
            <ion-item class="activated">
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>{{visitor.name}}</ion-label>
              </ion-item>    

            <!-- <ion-item class="activated">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>{{visitor.email}}</ion-label>
              </ion-item> -->
        </div>
        
        <!--
        <ion-item>
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>{{visitor_company}}</ion-label>
        </ion-item>
        -->
        
      
        
      
        <ion-button color="primary" expand="full" (click)="answer('Indulok!')">Indulok!</ion-button>
        <ion-button color="primary" expand="full" (click)="answer('Kérem várjon!')">Kérem, várjon!</ion-button>
        <ion-button color="primary" expand="full" (click)="answer('Most nem alkalmas!')">Most nem alkalmas!</ion-button>
  </ion-card-content>
</ion-card>