<app-header [headerText]="'Visitor reporting'"></app-header>

<ion-content>
  <form [formGroup]="visitorForm">
    <ion-grid>
      <ion-row>
        <ion-col>
            <app-layout (placeSelected)='refreshSelectedPlaces($event)'></app-layout>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" formControlName="access" placeholder="Beléptető jogok"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md>
          <ion-select placeholder="Fogadó személy" formControlName="host">
            <ion-select-option *ngFor="let user of users.content" [value]="user">{{ user.firstName }} {{ user.lastName }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="12" size-md>
          <ion-input type="text" formControlName="phoneNumber" placeholder="Fogadó személy telefonszáma"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-select formControlName="notificationType" placeholder="Értesítés módja">
            <ion-select-option value="phone">Értesítés telefonon</ion-select-option>
            <ion-select-option value="app">Értesítés applikáción keresztül</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row formArrayName="visitors" *ngFor="let visitor of visitors.controls; let visitorIndex=index" >
          <ion-col size="12" size-md formGroupName="{{visitorIndex}}">
            <ion-input type="text" placeholder="Látogató neve"  formControlName="name"></ion-input>
          </ion-col>
          <ion-col *ngIf="visitorIndex == 0" size="12" size-md formGroupName="{{visitorIndex}}">
                <ion-input type="text" placeholder="Látogató e-mail címe" formControlName="email"></ion-input>
          </ion-col> 
          <ion-col *ngIf="visitorIndex != 0" size="10" size-md formGroupName="{{visitorIndex}}">
              <ion-input type="text" placeholder="Látogató e-mail címe" formControlName="email"></ion-input>
          </ion-col>
          <ion-col *ngIf="visitorIndex != 0" size="2" size-md>
              <ion-icon style="color:red" size="large" item-right name="remove"  (click)="removeItem(visitorIndex)"></ion-icon>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-icon style="color:green" size="large" name="add"  (click)="addItem()"></ion-icon>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md>
            <ion-datetime formControlName="from" placeholder="Érkezés" displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm"></ion-datetime>
        </ion-col>
        <ion-col size="12" size-md>
            <ion-datetime formControlName="to" placeholder="Távozás"  displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm"></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" placeholder="Látogatás oka" formControlName="reason"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
              <ion-checkbox formControlName="otherRequest"></ion-checkbox>
              <ion-label style="padding-left:5px" >Egyéb kérés</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="visitorForm.value.otherRequest">
          <ion-input type="text" placeholder="Egyéb kérés" formControlName="otherRequestDescription"></ion-input>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="submit()">Elküld</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
