<ng-container *ngIf="selectedCriteria == null">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-layout [multi]="false" [default]="default" (placeSelected)='refreshPlace($event)'></app-layout>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input type="text" placeholder="Pontos hely" [(ngModel)]="checkpoint.exactPlace"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input type="text" placeholder="Ellenőrzőpont neve" [(ngModel)]="checkpoint.name"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row >
            <ion-col>
                <ion-button color="primary" (click)="takePicture()">
                        <ion-icon slot="start" name="camera"></ion-icon>Kép feltöltése
                </ion-button> 
            </ion-col>
        </ion-row>
        <ion-row *ngIf="checkpoint.photo != null">
            <ion-col size="12">
                <img style="width:100%;" [src]="domSanitizer.bypassSecurityTrustUrl(checkpoint.photo)" />
                <ion-button color="danger" expand="block" (click)="checkpoint.photo = null;">
                    <ion-icon name="close"></ion-icon>
                </ion-button> 
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Ellenőrzési kritériumok
            </ion-col>
        </ion-row>
        <ion-row *ngFor ="let criteria of checkpoint.checkAttributes" align-items-center>
            <ion-col size="8">
                {{criteria.name}}
            </ion-col>
            <ion-col size="2">
                <ion-button color="primary" (click)="editCriteria(criteria)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="2">
                <ion-button color="danger" (click)="deleteCriteria(criteria)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button color="primary" expand="full" (click)="newCriteria()" *ngIf="checkpoint.id">Új kritérium</ion-button>
    <ion-button color="success" expand="full" (click)="save()">Mentés</ion-button>
</ng-container>

<ng-container *ngIf="selectedCriteria != null">
    <app-patrol-admin-criteria-form [criteria]="selectedCriteria" (finishedEdit)="onFinished($event)" ></app-patrol-admin-criteria-form>
</ng-container>
