@mixin bg-color($bgcolor: lightseagreen) { 
    fill: $bgcolor; 
    &:not(.inactive):hover, &.hovered, &.selected { 
        fill: darken($bgcolor, 20%); 
    } 

    &:not(.inactive).shp9:hover, &.shp9.hovered, &.shp9.selected {
        fill: darken($bgcolor, 60%); 
    }
 
    &.selected { 
        stroke: red; 
        stroke-width:10px; 
    } 
} 
 
svg { 
    max-height:500px; 
    .txt13 { font-size: 30px;fill: rgb(1,1,1);font-family: "Times New Roman";text-anchor: middle }  
    .txt14 { font-size: 30px;fill: rgb(0,0,0);font-family: "Times New Roman";text-anchor: middle }  
    .txt15 { font-size: 26px;fill: rgb(0,0,0);font-family: "Times New Roman";text-anchor: middle }  
 
    path { 
        &.shp0 { @include bg-color( #ffffff);stroke: #000000 }  
        &.shp1 { @include bg-color( #91cf4f);stroke: #000000 }  
        &.shp2 { @include bg-color( #5b9bd5);stroke: #000000 }  
        &.shp3 { @include bg-color( #6f2f9f);stroke: #000000 }  
        &.shp4 { @include bg-color( #ffff00);stroke: #000000 }  
        &.shp5 { @include bg-color( #00afef);stroke: #000000 }  
        &.shp6 { @include bg-color( #ff0000);stroke: #000000 }  
        &.shp7 { @include bg-color( #ffbf00);stroke: #000000 }  
        &.shp8 { @include bg-color( #d5dbe5);stroke: #000000 }  
        &.shp9 { @include bg-color( #ffe599);stroke: #000000 }  
        &.shp10 { @include bg-color( #a9d18d);stroke: #000000 }  
        &.shp11 { @include bg-color( #a5a5a5);stroke: #000000; pointer-events: none; }  
        &.shp12 { @include bg-color( #6fad47);stroke: #000000;pointer-events: none; }  
         
 
        &:hover { 
            cursor:pointer; 
        } 
    } 
 
    text { 
        font-weight: bold; 
        pointer-events: none; 
    } 
 
    tspan { white-space:pre } 
 
} 