<app-header [headerText]="'Visitors'"></app-header>
<ion-content id="visitorList" *ngIf="!selected">
  <ion-list>
    <ion-list-header>
      Mai látogatók
    </ion-list-header>
    <ion-item class="visitoritem" *ngFor="let app of visitors[today | date: 'yyyy-MM-dd']" (click)="select(app)">
      <ion-label>
        <h2 *ngFor="let visitor of app.visitors">{{visitor.name}}</h2>
        <h3>{{app.from}} - {{app.to}}</h3>
        <p>{{app.host.firstName}} {{app.host.lastName}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-content *ngIf="selected">
    <ion-list lines="none">
        <ion-list-header>
          {{selected.caseNumber}}
        </ion-list-header>
        <ion-item>
          <ion-label slot="start">Érkezés</ion-label>
          <ion-label>{{selected.from}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label slot="start">Távozás</ion-label>
            <ion-label>{{selected.to}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label slot="start">Értesítendő személy</ion-label>
            <ion-label>{{selected.host.firstName}} {{selected.host.lastName}}</ion-label>
          </ion-item>
          <ion-item>
              <ion-label slot="start">Értesítés módja</ion-label>
              <ion-label *ngIf="selected.notificationType == 'app'">Alkalmazás</ion-label>
              <ion-label *ngIf="selected.notificationType == 'phone'">Telefonon</ion-label>
            </ion-item>
            <ion-item>
                <ion-label *ngIf="selected.notificationType == 'phone'">{{selected.host.phoneNumber}}</ion-label>
            </ion-item>
          <ion-item>
              <ion-label slot="start">Beléptető jogok</ion-label>
              <ion-label>{{selected.access}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label slot="start">Látogatás oka</ion-label>
                <ion-label>{{selected.reason}}</ion-label>
              </ion-item>
              <ion-list-header>
                  Látogatók
                </ion-list-header>
            <ion-item *ngFor="let visitor of selected.visitors">
              <ion-label>{{visitor.name}}</ion-label>
              <ion-input [(ngModel)]="visitor.cardNumber" placeholder="Vendégkártya száma"></ion-input>
              <ion-button slot="end" (click)="arrived(visitor)">
                Érkezés
              </ion-button>
          </ion-item>
          <ion-list-header>
            Regisztrálandó tárgyi eszközök
          </ion-list-header>
          <ion-item>
              <ion-checkbox [(ngModel)]="devicesToSave"></ion-checkbox>
              <ion-label style="padding-left:5px" >Van regisztrálandó eszköz</ion-label>
          </ion-item>
        </ion-list>
          <ion-list *ngIf="devicesToSave" [formGroup]="devicesForm" lines="none">
            <ng-container *ngFor="let device of devices.controls; let deviceIndex=index">
            <ion-item formGroupName="{{deviceIndex}}">

                <ion-select formControlName="visitorId" placeholder="Látogató">
                    <ion-select-option *ngFor="let visitor of selected.visitors" [value]="visitor.id">{{ visitor.name }}</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Leírás" formControlName="deviceDescription"></ion-input>
            </ion-item>
            <ion-item>
                <ion-checkbox formControlName="deviceStays"></ion-checkbox>
                <ion-label style="padding-left:5px" >Az eszköz a területen marad</ion-label>
                
            </ion-item>
            <ion-item>
                <ion-button >
                    Kép feltöltése
                  </ion-button>
            </ion-item>
            
            <ion-item>
                <ion-icon style="color:green" size="large" name="add"  (click)="addItem()"></ion-icon>
            </ion-item>
          </ng-container>
          </ion-list>
</ion-content>
