<ion-grid>
    <ion-row>
        <ion-col>
            <div text-center>
                <h1>Egyéni észrevétel</h1>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-textarea placeholder="Leírás" [(ngModel)]="description"></ion-textarea>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button color="primary" (click)="takePicture()">
                    <ion-icon slot="start" name="camera"></ion-icon>Kép feltöltése
            </ion-button> 
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4" *ngFor="let image of images; let i = index">
            <img style="width:100%;"  [src]="domSanitizer.bypassSecurityTrustUrl(image)" />
            <ion-button color="danger" expand="block" (click)="removeImage(i)">
                <ion-icon name="close"></ion-icon>
            </ion-button> 
        </ion-col>
    </ion-row>
</ion-grid>